<div class="container">


    <h1 class="mt-3">Historical Stock Data</h1>

    <ng-container *ngIf="stockHistories$ | async as stockHistory">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Symbol</th>
                    <th>Date</th>
                    <th>Closing Price</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sh of stockHistory">
                    <td>{{sh.id}}</td>
                    <td>{{sh.symbol}}</td>
                    <td>{{sh.date}}</td>
                    <td>${{sh.closingPrice}}</td>
                    <td>{{sh.volume}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>