<div class="container">


    <h1 class="mt-3">Available Stocks</h1>

    <ng-container *ngIf="user !== undefined && user?.roles?.includes('Writer')">
        <div class="d-flex justify-content-end mt-3">
            <a id="add" [routerLink]="['/stocks/add']" class="btn btn-primary">Add Stock</a>
        </div>
    </ng-container>

    <ng-container *ngIf="stocks$ | async as stocks">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Symbol</th>
                    <th>Current Price</th>
                    <th>Timestamp</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stock of stocks">
                    <td>{{stock.id}}</td>
                    <td>{{stock.symbol}}</td>
                    <td>${{stock.currentPrice}}</td>
                    <td>{{stock.timeStamps}}</td>
                    <td style="text-align: center;">
                        <a class="btn btn-light" [routerLink]="['/stocks', stock.symbol]">Stock History</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>